@{
    Layout = "Homepage";
}
</style>
<div>
    <h1>Hello</h1>
    <br>
    <div class="link-a">
         <h3>Netflix offers a variety of plans to meet your entertainment needs.

As a Netflix member, you are charged monthly on the date you signed up. A Netflix account is for people who live together in a single household. Learn more about sharing Netflix.

Netflix Free Plan
Our free plan is a great way for anyone in Vietnam with an Android mobile phone to explore Netflix completely free of charge and without any advertisements!

You will have access to some of the best titles from our catalog, as well as personalized recommendations and parental controls. 

The free plan is only available on Android mobile phones. If you want to watch Netflix on other devices and access our full catalog, you will need to choose one of the paid plans below.</h3>
            <div>
                <a asp-controller="Book" asp-action="Index">
                    <button type="button" class="btn btn-info">Home</button>
                </a>
            </div>
        </div>
